# Ques1.  Write a python to remove duplicates from a list

In [5]:

list1=["arya","anu",3,5,6,7,3,4,5,"arya"]
list2=set(list1)
print(list(list2))

['arya', 3, 4, 5, 6, 7, 'anu']

# Ques2. Write Python program to combine two dictionary adding values  for common keys
          d1={'a':100,'b':200,'c':300}
          d2={'a':300,'b':200,'d':400}
        Sample output:Counter({'a':400,'b':400,'d':400,'c':300})

In [2]:
from collections import Counter

In [4]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}
dcount=Counter(d1)+Counter(d2)
print(dcount)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

# Ques3. Write a  python program to convert a tuple to a string.

In [8]:
tuple = ('a','s','h','i','k','a')
str =''
for i in tuple:
    str=str+i
print(str)

ashika

# Ques4. Write a python to remove items(s) from set.

In [11]:
set={"rani","riya","ram","raju","mitesh","anjali"}
set.remove("ram")
set

{'anjali', 'mitesh', 'raju', 'rani', 'riya'}

# Ques5. Write a python program to create a symmetric difference.

In [24]:
set1={1,2,3,5,6,7}
set2={1,4,8,5,9}
set1.symmetric_difference(set2)

{2, 3, 4, 6, 7, 8, 9}

# Ques6. Write a Python program to construct the following pattern,using a                         nested for loop
         *
    
    
        
         *
         
            
            
        *
        
        
        
         *
        
        
        
         *

In [51]:
for x in range(5): 
    print("*")
    for j in range(3):
        print(" ")

*



*



*



*



*

# Ques6. Write a Python program to get the fibonannic series between 0 to 50.

In [63]:
def fibonannic():
    a=0
    b=1
    print(a)
    print(b)
    for i in range(0,50):
        c=a+b
        a=b
        b=c
        if(b<50):
            print(b,"")

In [64]:
 fibonannic()

0
1
1
2
3
5
8
13
21
34