# Ques1. Write a program which will find all such numbers which are divisible by 7 but are not multiple of 5,between 2000 and 3200(both included).The numbers obtained should be printed in a comma separated sequence on a single line.

In [1]:

list=[x for x in range (2000,3200) if x%7==0 and x%5!=0]

In [2]:
print(list,sep=',')

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Ques2.with a given integeral number n ,write a program genrate a dictionarythat contain (i,i x i)such that is an intergral number between 1 and n (both included).and them the program should print the dictionary.Suppose the following inputis supplied to the program:12

In [3]:
n=int(input("Enter the number"))
dict={i:i*i for i in range(1,n+1)}
print(dict)

Enter the number12
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

# Ques3. define a class which has at least two methods.

In [13]:
class method():
    def __init__(self):
        self.str=""
        
    def getString(self):
        self.str=input()
        
    def printString(self):
        print("string is:")
        print(self.str.upper())
obj=method()
obj.getString()
obj.printString()

ashika
string is:
ASHIKA

# Ques4.Define a class,which have a class parameter and have a same instance parameter.
   Hint: Define an instance parameter need add it in init method .you can init an object with construct parameter or set the value later.

In [5]:
class student:
    #Define the class parameter"name
    name="NAME"
    def __init__(self,name):
       # self.nameis the instance parameter
        self.name=name
        
aru=student("aru")
print(student.name,aru.name)
        
arya=student("arya")
arya.name="arya"
print(student.name,arya.name)

NAME aru
NAME arya

#  Ques5. Write a python class to convert an integer to a roman numeral.

In [15]:

class rom:
    def romanpy(self,num):
        roman={"I":1,"V":5,"X":10,"l":50,"C":100,"IV":4,"IX":9,"Xl":40,"XC":90,"D":500,"M":1000,"CD":400,"CM":900}
        n=0
        i=0
        while i<len(num):
            if i+1<len(num)and num[i:i+2]in roman:
                n+=roman[num[i:i+2]]
                i+=2
            else:
                
                  n+=roman[num[i]]
                  i+=1
        return n

In [17]:
df=rom()
df.romanpy("XI")

11